@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 88%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  background: rgb(120,120,120);
  background: -moz-radial-gradient(circle, rgba(120,120,120,1) 0%, rgba(27,27,27,1) 60%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(120,120,120,1) 0%, rgba(27,27,27,1) 60%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(120,120,120,1) 0%, rgba(27,27,27,1) 60%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#787878",endColorstr="#000000",GradientType=1);
  margin: 0;
}

.coinbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabela {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  background-color: #222222;
  border-collapse: collapse;
  font-size: 15px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ffffff;
}

.valor .tabela td {
  width: 90px;
}

.Toastify__toast-body div{
  color: #000000;
}

.machine {
  display: flex;
  flex-direction: row;
  background-color: #0f0f0f;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
  max-height: 935px;
}

.left {
  padding-right: 45px;
  border-right: 2px solid #222222;
}

.right {
  padding-left: 45px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.moedas {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  transition: 0.4s;
}

.moedas button {
  width: 90px;
  height: 60px;
  background-color: #222222;
  border-radius: 7.5px;
  border: 1px solid #222222;
  transition: 0.4s;
  cursor: pointer;
}

.moedas button:hover {
  background-color: #070707;
  transform: scale(105%);
  border: 1px solid #000000;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: #0f0f0f;
  max-width: 80%;
  height: 90%;
  padding: 45px;
  border-radius: 30px;
}

#modal .buttons button {
  display: inline-block;
}

.pagar button {
  width: 90px;
  height: 60px;
  background-color: #222222;
  border-radius: 7.5px;
  border: 1px solid #222222;
  transition: 0.4s;
  cursor: pointer;
}

.devolver button {
  width: 90px;
  height: 60px;
  background-color: #222222;
  border-radius: 7.5px;
  border: 1px solid #222222;
  transition: 0.4s;
  cursor: pointer;
}

.pagar button:hover, .devolver button:hover {
  background-color: #070707;
  transform: scale(105%);
  border: 1px solid #000000;
}

.log button:hover {
  background-color: #070707;
  transform: scale(101%);
  border: 1px solid #000000;
}

.selected {
  background-color: #000000 !important;
}

.bebidas {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  transition: 0.4s;
  border-radius: 20px;
  padding: 30px;
  background-color: #424242;
  border: 10px solid #000000;
  height: 100%;
  overflow-y: scroll;
}

.bebida:hover {
  transform: scale(105%);
}

.bebida {
  background-color: #222222;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  transition: 0.4s;
  border-radius: 15px;
  cursor: pointer;
}

.image {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

h2 {
  padding: 10px;
  transition: 0.4s;
}

p {
  margin-bottom: 10px;
}

.tabbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.log button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  width: 100%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  background-color: #222222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
}

.log button img {
  width: 40px;
}

#modal div div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 98%;
}

#modal .buttons button {
  border-radius: 15px;
  padding: 10px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: #222222;
  margin-bottom: 20px;
  cursor: pointer;
}

.historico .lista ul li {
  list-style: none;
  padding: 30px;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
}

.lista {
  overflow-y: scroll;
  height: 800px;
  padding: 0px 30px 0px 30px;
}

.historico ul li span{
  font-weight: bold;
}